#### Muhammad Nizar_2009106059
#### POSTTEST 4 Kecerdasan Buatan / Artificial Intellegence
### Data Pre-Processing

[Music Genre Dataset](https://www.kaggle.com/datasets/vicsuperman/prediction-of-music-genre "Music Genre Dataset")

###### *Import berberapa libary dan pada sklearn kita import yang diperlukan untuk pre-processing*

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder


df = pd.read_csv('music_genre.csv') ## dataset yang original langsung dari kaggle
df1 = pd.read_csv('music_genre_rusak.csv') ## dataset yang udah rusak

#### Cleaning data Terlebih dahulu (KARENA STANDARISASI SAYA ERROR KARENA BANYAK NILAI NAN/ '?')
- bilangan bulat = median/modus
- bilangan desimal = mean
- Object / tulisan = modus

###### *karena pada dataset dari kaggle orang ngasih nan itu jadi tanda ? maka dari itu sebelum cleaning kita rubah jadi nan/null*

In [144]:

df1.replace("?", np.nan, inplace=True)

###### *menggunakan imputer untuk me-replace data yang null menjadi sesuai dengan ketentuan*

In [145]:

imputer_mean = SimpleImputer(strategy='mean') ## mean atau rata-rata
imputer_median = SimpleImputer(strategy='median') #median atau nilai tengah
imputer_most_frequent = SimpleImputer(strategy='most_frequent') # modus

df1['instance_id'] = imputer_mean.fit_transform(df1[['instance_id']])
df1['artist_name'] = imputer_most_frequent.fit_transform(df1[['artist_name']])
df1['track_name'] = imputer_most_frequent.fit_transform(df1[['track_name']])
df1['popularity'] = imputer_mean.fit_transform(df1[['popularity']])
df1['acousticness'] = imputer_mean.fit_transform(df1[['acousticness']])
df1['danceability'] = imputer_mean.fit_transform(df1[['danceability']])
df1['duration_ms'] = imputer_mean.fit_transform(df1[['duration_ms']])
df1['energy'] = imputer_mean.fit_transform(df1[['energy']])
df1['instrumentalness'] = imputer_mean.fit_transform(df1[['instrumentalness']])
df1['key'] = imputer_most_frequent.fit_transform(df1[['key']])
df1['liveness'] = imputer_mean.fit_transform(df1[['liveness']])
df1['loudness'] = imputer_mean.fit_transform(df1[['loudness']])
df1['mode'] = imputer_most_frequent.fit_transform(df1[['mode']])
df1['speechiness'] = imputer_mean.fit_transform(df1[['speechiness']])
df1['tempo'] = imputer_most_frequent.fit_transform(df1[['tempo']])
df1['obtained_date'] = imputer_most_frequent.fit_transform(df1[['obtained_date']])
df1['valence'] = imputer_mean.fit_transform(df1[['valence']])
df1['music_genre'] = imputer_most_frequent.fit_transform(df1[['music_genre']])

df1.isna().sum()

instance_id         0
artist_name         0
track_name          0
popularity          0
acousticness        0
danceability        0
duration_ms         0
energy              0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
speechiness         0
tempo               0
obtained_date       0
valence             0
music_genre         0
dtype: int64

#### Menghapus nilai duplikat

###### *melihat nilai duplikat*

In [146]:
df1.duplicated().sum()

9

###### *menghapus nilai duplikat dengan command drop*

In [147]:
df1.drop_duplicates(inplace=True)

###### *melihat nilai duplikat setelah dihapus*

In [148]:
df1.duplicated().sum()

0

#### Buat data copy supaya tidak merusak data asli

In [149]:
df_norm = df1.copy() ## untuk normalisasi
df_std = df1.copy() ## untuk standarisasi

#### Membagi (Split) data Train dan test dengan perbandingan 70:30

###### *membagi nilai x sebagai data latih atau train dan y sebagai data uji atau test*

In [150]:
x = df1.iloc[:,:-1]
y = df1.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = .3)

print("Jumlah Data X_train : ", x_train.shape)
print("Jumlah Data X_test  : ", x_test.shape)
print("Jumlah Data y_train : ", y_train.shape)
print("Jumlah Data y_text  : ", y_test.shape)

Jumlah Data X_train :  (35000, 17)
Jumlah Data X_test  :  (15001, 17)
Jumlah Data y_train :  (35000,)
Jumlah Data y_text  :  (15001,)

#### Melakukan Normalisasi dengan menggunakan MinMaxScaler

###### *normalisasi memanggil min max scaler dan ditransformasi menjadi data yang telah tenormalisasi*

In [151]:

min_max_scaler = MinMaxScaler()
x_scaler = min_max_scaler.fit_transform(df_norm[['popularity','acousticness','danceability',
            'duration_ms', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'valence']])

df_norm2 = pd.DataFrame(x_scaler)
df_norm2.head(15)

,0,1,2,3,4,5,6,7,8,9
0,0.272727,0.004699,0.639465,0.000000,0.941896,0.795181,0.106358,0.823883,0.057084,0.765121
1,0.313131,0.012751,0.607081,0.045190,0.890804,0.953815,0.115446,0.787616,0.008372,0.535282
2,0.282828,0.003072,0.604922,0.044635,0.755562,0.011847,0.529450,0.835381,0.013265,0.335685
3,0.343434,0.025502,0.771157,0.034546,0.700463,0.002540,0.148769,0.837724,0.235620,0.272177
4,0.323232,0.004669,0.624352,0.046034,0.587260,0.912651,0.148769,0.802914,0.020659,0.325605
5,0.474747,0.005251,0.750648,0.107537,0.731519,0.857430,0.208345,0.719216,0.020550,0.618952
6,0.464646,0.029016,0.553109,0.044386,0.803648,0.000008,0.097271,0.841741,0.357399,0.231855
7,0.434343,0.029819,0.808938,0.086145,0.706474,0.906627,0.054356,0.742410,0.028379,0.767137
8,0.393939,0.003002,0.485104,0.060614,0.921860,0.000277,0.169974,0.863772,0.267152,0.275202
9,0.222222,0.009378,0.559585,0.042397,0.731519,0.011245,0.102319,0.786671,0.163858,0.204637
10,0.303030,0.858434,0.590889,0.035288,0.157490,0.000000,0.097271,0.654834,0.013265,0.309476
11,0.272727,0.033835,0.489421,0.034185,0.828693,0.571285,0.100300,0.819197,0.041970,0.059577
12,0.313131,0.016064,0.648100,0.048874,0.892808,0.000607,0.154827,0.858082,0.045885,0.111895
13,0.313131,0.863454,0.731218,0.000000,0.404934,0.036245,0.164925,0.718842,0.021855,0.652218
14,0.272727,0.000195,0.584413,0.050482,0.969946,0.779116,0.403229,0.895708,0.176906,0.199597

#### Melakukan Standarisasi menggunakan standard scaler

###### *hampir sama dengan yang diatas(normalisasi) tetapi kita rubah menjadi StandardScaler()*

In [152]:
ss = StandardScaler()
Scaled_data = ss.fit_transform(df_std[['instance_id','popularity','acousticness','danceability',
            'duration_ms', 'energy', 'instrumentalness', 'liveness', 'loudness', 'speechiness', 'valence']])

print("Nilai sebelum di standarisasi :")
print("Standar Deviasi ,", np.std(df1))
print("\n")
print("Nilai setelah di standarisasi :")
print("Standar Deviasi ,", np.std(Scaled_data))

Nilai sebelum di standarisasi :
Standar Deviasi , instance_id          20724.841752
popularity              15.541698
acousticness             0.341333
danceability             0.178628
duration_ms         128669.383744
energy                   0.264554
instrumentalness         0.325403
liveness                 0.161634
loudness                 6.162866
speechiness              0.101371
valence                  0.247114
dtype: float64


Nilai setelah di standarisasi :
Standar Deviasi , 0.9999999999999999

c:\Users\nizar\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

#### Mengganti tipe data dari float jadi integer

###### *mengganti tipe data popularity, instance id dari float 64 jadi int 64*

In [153]:

df1['instance_id'] = df1['instance_id'].astype('int64')
df1['popularity'] = df1['popularity'].astype('int64')

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50001 entries, 0 to 50004
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   instance_id       50001 non-null  int64
 1   artist_name       50001 non-null  object
 2   track_name        50001 non-null  object
 3   popularity        50001 non-null  int64
 4   acousticness      50001 non-null  float64
 5   danceability      50001 non-null  float64
 6   duration_ms       50001 non-null  float64
 7   energy            50001 non-null  float64
 8   instrumentalness  50001 non-null  float64
 9   key               50001 non-null  object
 10  liveness          50001 non-null  float64
 11  loudness          50001 non-null  float64
 12  mode              50001 non-null  object
 13  speechiness       50001 non-null  float64
 14  tempo             50001 non-null  object
 15  obtained_date     50001 non-null  object
 16  valence           50001 non-null  float64
 17  music_genre       50001 non-null  object
dtypes: float64(9), int64(2), object(7)
memory usage: 7.2+ MB

#### Melakukan one hot encoding

###### *menambah berberapa dari label music genre menjadikan datanya jadi int atau float*

In [154]:
df_noterencoder = df1.copy()

one_hot_encoder = OneHotEncoder(sparse=False)

music_genre_cat = one_hot_encoder.fit_transform(df_noterencoder[['music_genre']])
music_genre_cat = pd.DataFrame(music_genre_cat)

df_terencoder = df_noterencoder.join(music_genre_cat)
df_terencoder.head(10)

,instance_id,artist_name,track_name,popularity,acousticness,danceability,duration_ms,energy,instrumentalness,key,...,0,1,2,3,4,5,6,7,8,9
0,32894,Röyksopp,Röyksopp's Night Out,27,0.00468,0.652,-1.0,0.941,0.792000,A#,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,46652,Thievery Corporation,The Shining Path,31,0.01270,0.622,218293.0,0.890,0.950000,D,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,30097,Dillon Francis,Hurricane,28,0.00306,0.620,215613.0,0.755,0.011800,G#,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,62177,Dubloadz,Nitro,34,0.02540,0.774,166875.0,0.700,0.002530,C#,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,24907,What So Not,Divide & Conquer,32,0.00465,0.638,222369.0,0.587,0.909000,F#,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,89064,Axel Boman,Hello,47,0.00523,0.755,519468.0,0.731,0.854000,D,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,43760,Jordan Comolli,Clash,46,0.02890,0.572,214408.0,0.803,0.000008,B,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,30738,Hraach,Delirio,43,0.02970,0.809,416132.0,0.706,0.903000,G,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,84950,Kayzo,NEVER ALONE,39,0.00299,0.509,292800.0,0.921,0.000276,F,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,56950,Shlump,Lazer Beam,22,0.00934,0.578,204800.0,0.731,0.011200,A,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [155]:
# df_terencoder.to_csv('music_genre_final_rusak.csv', index=False)